@font-face{
    font-family: 'AllTheWayToTheSun';
    src: url('../assets/AllTheWayToTheSun-o2O0.ttf');
}

@font-face{
    font-family: 'MachineGunk';
    src: url('../assets/MachineGunk.ttf');
}

body{
    display: flex;
    min-height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}

#gameScreen{
    border: 1px solid black;
    display: block;
    /* letter-spacing: 2px; */
}